@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Raleway:700);
@import url(https://fonts.googleapis.com/css?family=Lato:700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900);

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #de332e;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

div.page {
    min-height: 100vh;
    width: 100%;
    padding: 15px 10px;
    min-width: 700px;
    position: relative;
}

div.page.exactly-one-page {
    max-height: 100vh;
}

div.page > div.centered {
    max-width: 640px;
    margin: 0 auto;
}

div.page > div.centered.questions > h1 {
    font-family: 'Lobster', sans-serif;
    font-size: 4em;
    text-align: center;
    margin: 32px 0 24px;
}

div.page > div.centered.questions > h1+p {
    margin-bottom: 64px;
}

div.page.blue a {
    color: #f26527;
}

div.page.blue a:focus,
div.page.blue a:hover {
    color: #da4323;
}

div.page.blue a:visited {
    color: #f26527;
}

div.page.blue > div.questions > div.contributors {
    width: 596px;
    margin: 0 auto;
}

div.page.blue > div.questions > div.contributors > div.contributor {
    float: left;
    display: inline;
    width: 100px;
}

div.page.blue > div.questions > div.contributors > div.contributor > p {
    text-align: center;
    font-size: 12px;
}

div.page.blue > div.questions > div.contributors > div.contributor > p > img {
    width: 100%;
    border-radius: 50%;
}

div.page.blue > div.questions > div.contributors > div.contributor+div {
    margin-left: 24px;
}

div.page > div.centered > h2 {
    margin: 32px 0;
}

nav.nav {
    float: right;
    line-height: 43px;
    font-family: 'Source Sans Pro', sans-serif;
}

nav img#github-logo {
    margin-right: 10px;
    width: 40px;
    height: auto;
}

li.nav-item > a.nav-link {
    color: #fff;
}

div.scala-logo-container {
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

div.scala-logo-container > p {
    margin: 0;
    padding: 0;
}

h1#dotty {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 3.5em;
}

div.centered-subtitle {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

div.scroll-down-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

div.scroll-down-container > i#scroll-down-arrow {
    font-size: 3em;
}

pre.sourceCode.bordered {
    background-color: #efefef;
    border-radius: 4px;
    padding: 4px 10px;
}

h1#getting-started {
    margin-top: 25px;
}

div.centered-table > table {
    width: 100%;
}

div.centered-table+p {
    text-align: center;
    margin-top: 2em;
}

/* Decorator classes */
.centered-text {
    text-align: center;
    clear: both;
}

.no-top-padding {
    padding-top: 0 !important;
}

.page.no-top-padding {
    margin-top: -32px;
}

.red {
    background: #de332e;
    color: #fff;
}

.white {
    background: #fff;
    color: #000;
}

.blue {
    background: #002B36;
    color: #fff;
}

/* Media query rules specifically for mobile devices */
@media
screen /* HiDPI device like Nexus 5 */
and (max-device-width: 360px)
and (max-device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
,
screen /* Most mobile devices  */
and (max-device-width: 480px)
and (orientation: portrait)
,
only screen /* iPhone 6 */
and (max-device-width: 667px)
and (-webkit-device-pixel-ratio: 2)
{
    div.page {
        min-width: 0;
    }

    div.page > div.centered.questions > h1 {
        font-size: 2.2em;
    }

    div.page.blue > div.questions > div.contributors {
        width: 338px;
    }

    div.page.blue > div.questions > div.contributors > div.contributor {
        width: 50px;
    }

    div.page.blue > div.questions > div.contributors > div.contributor+div {
        margin-left: 22px;
    }

    div.scala-logo-container {
        width: 80%;
        height: 80%;
    }

    /* Feature */
    div.centered-table > table > tbody > tr > td:nth-child(1) {
        font-size: 0.8em;
    }

    /* Status */
    div.centered-table > table > tbody > tr > td:nth-child(2) {
        font-size: 0.8em;
        text-align: right;
    }

    div#header {
        width: 100%;
    }

    div#header > nav.nav {
        float: none;
    }

    div#header > nav.nav.nav-pills .nav-item+.nav-item {
        margin-left: 0;
    }
}
